<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Corona percentage</title>
    <meta name="description" content="corona infected count" />
    <link
      id="favicon"
      rel="icon"
      href="https://cdn.glitch.com/22240d59-2c60-404a-9f42-83573aa064a2%2Ffavicon.ico?v=1582058035583"
      type="image/x-icon"
    />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css" />



    <!-- import the webpage's client-side javascript file -->
    <script src="/bg.js" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js"></script>
    <script src="/client.js" defer></script>
  </head>
  <body>
    <div class="content-canvas"><canvas id="canvas"></canvas></div>
    <div class="text">
      <span id="header"
        >Percentage of earth habitants currently infected with the
        COVID-19-Coronavirus:
      </span>
      <span id="infected">Loading...</span>
      <footer>
        <span>
          data by

          <a
            href="https://www.worldometers.info/coronavirus/"
            target="_blank"
            rel="noopener noreferrer"
            >HTTPS://WWW.WORLDOMETERS.INFO/CORONAVIRUS/</a
          >
        </span>
      </footer>
    </div>
    <svg id="weirdFilter">
      <filter id="svgFilter">
        <feturbulence
          id="turbulence"
          type="turbulence"
          basefrequency="0.009"
          numoctaves="5"
        />
        <fegaussianblur id="" in="SourceGraphic" stddeviation="5" />
        <fedisplacementmap id="displacement" in="SourceGraphic" scale="2000" />
      </filter>
    </svg>
    <audio autoplay loop>
      <source
        src="https://cdn.glitch.com/22240d59-2c60-404a-9f42-83573aa064a2%2FMarilyn_Manson-Resident_Evil_Main_Title_Theme_Corp_Umbrella_SX_Long.mp3?v=1582058619863"
      />
    </audio>
  </body>
</html>
