@font-face {
  font-family: virus;
  src: url(https://raw.githack.com/AlainBarrios/Fonts/master/virus43.ttf?raw=true);
}

:root {
  --size: calc(13vmin * 9 / 16);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: black;
}

.content-canvas {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#canvas {
  width: 100%;
  height: 100%;
  display: block;
  filter: url("#svgFilter");
}

.text {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: hsla(0, 100%, 100%, 1);
  flex-direction: column;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--size);
  letter-spacing: 0.1rem;
  mix-blend-mode: difference;
  text-transform: uppercase;
  font-family: virus;
}

svg {
  display: none;
}

.small {
  margin-top: 1rem;
  color: lightgray;
  font-size: 50%;
}

footer {
  position: fixed !important;
  width: 100%;
  top: unset !important;
  bottom: 2rem !important;
  height: 3rem;
  padding: 0 2rem;
  text-transform: uppercase;
  font-family: virus;
  color: dimgray;
  font-size: var(--size);
}
footer span {
  font-size: 30%;
}
footer a {
  color: white;
}
